<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
      <img src="assets/img/burger.png" alt="burger" />
      <h1> Eat-Da-Burger! </h1>
    </div>
    <div class="row">
      <div class="col-md-6" class="task">
        {{#each burger_data}}
          {{#unless this.devoured}}
            <input class="form-inline" type="text" placeholder="{{this.burger_name}}">
                <form method="POST" action="/burgers/update?_method=PUT" class="btn">
                  <input type="hidden" type="text" name="burger_id" value={{this.id}}>
                  <button type="success" class="btn btn-default">EAT DA BURGER</button>
                </form>
          {{/unless}}
        {{/each}}
      </div>
      <div class="col-md-6" class="task">
        {{#each burger_data}}
          {{#if this.devoured}}
            <input class="form-inline" type="text" placeholder="{{this.burger_name}}">
          {{/if}}
        {{/each}}
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 text-center enter_section">
      <form action="/burgers/create" method="POST">
        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
      </form>
      <p>Enter a burger that sounds yummy!</p>
    </div>
  </div>
</div>
